[solver]
;#############################################################################################
;# Here we set the required parameters for the solver itself.
;# If any required parameter is not set here, the LIS default value is used.
;# In case of any irrelevant or inappropriate parameter declaration, the code will ignore it.
;# NOTE: Please DO NOT use TAB key! 
;#############################################################################################


    ;##############
    ;# Defualt: bicg
    ;# Options: 
    ;  1-cg     2-bicg   3-cgs         4-bicgstab  5-bicgstabl  6-gpbicg   7-tfqmr       8-orthomin   9-gmres       10-jacobi 
    ;  11-gs    12-sor   13-bicgsafe   14-cr       15-bicr      16-crs     17-bicrstab   18-gpbicr    19-bicrsafe   20-fgmres
    ;  21-idrs  22-idr1  23-minres     24-cocg     25-cocr
    ;##############
    name = bicg
    
    
    ;##############
    ;# For some of the above solvers, one can adjust parameters further using the following auxiliary options: 
    ;  (i.e.,  may take the "ell" auxiliary option with parameter 2 as: ell [2])
    ;# 5-ell [2]   8-restart [40]   9-restart [40]  12-omega [1.9]   20-restart [40]   21-irestart [2]
    ;# NOTE: The number inside [] is the defualt value if you do not invoke the auxiliary option.
    ;##############
    auxiliary_option = empty
    
    
    ;##############
    ;# Stopping residual
    ;# Default: 1.0e-12 
    ;##############
    stop_residual = 1.0e-6
    
    
    ;##############
    ;# Maximum iteration
    ;# Default: 1000
    ;##############
    maximum_iteration = 30
    
    
    ;##############
    ;# The sparse matrix format
    ;# Defualt: CSR
    ;# Options: 
    ;##############
    matrix_format = SCR
    
    
    ;##############
    ;# The block size for BSR and BSC sparse format
    ;# Defualt: 2
    ;##############
    block_matrix_size = 2
    
    
    ;#############
    ;# Sets the initial condition equal to zero.
    ;# Default: true
    ;# NOTE: For unsteady simulation where we have some good initial conditions from the previous time step, 
    ;#       it should be changed to .false. and the proper initial condition be passed to the solver.
    ;#############
    is_initiated_with_zero = .flase. 
    
    
    ;#############
    ;# Controls if the residual is written on a file
    ;# Default: false
    ;# NOTE: It is recommended not to use this option for an unsteady solution where the solver is called many times.
    ;#############
    is_verbose = .false.
    
    
    ;#############
    ;# Defines how the norm for the convergence is calculated.
    ;# Default: norm_two_of_res
    ;# Options: norm_two_of_rhs, norm_two_res, nom_one_of_res
    ;#############
    convergence_condition = norm_two_of_res
    
    
    ;#############
    ;# Defines if the information of the solution is displayed or saved. 
    ;# It is just defined for LIS library. 
    ;# Default: 0
    ;# Options: 0-2
    ;#############
    print_option = 0

    
[preconditioner]   
;#############################################################################################
;# Here we set the rquired parameters for the preconditioner of the solver.
;#############################################################################################


    ;#############
    ;# Defualt: empty
    ;# Options: 
    ;  1-jacobi  2-ilu   3-ssor  4-hybrid  5-is  6-sainv   7-saamg   8-iluc   9-ilut        
    ;#############
    name = empty
    
    
    ;##############
    ;# For some of the preconditioners mentioned above, one can adjust the following auxiliary options for further tunning: 
    ;# 2- ilu_fill [0]     
    ;# 3- ssor_omega [1.0]   
    ;# 4- hybrid_i[sor]  hybrid_maxiter [25] hybrid_tol [1.0e-3] hybrid_omega [1.5] hybrid_ell [2] hybrid_restart[40]
    ;# 5- is_alpha [1.0]   is_m [3]
    ;# 6- sainv_drop [0.05]
    ;# 7- saamg_unsym [false] saamg_theta [0.05|0.12]
    ;# 8- iluc_drop [0.05]   iluc_rate [5.0]
    ;# NOTE: The number inside [] is the default value if you do not invoke the auxiliary option.
    ;# NOTE: If you do not know the parameters, just using the default value would be safe enough.
    ;##############
    auxiliary_option = ilu_fill [1]
    
    
[additive_Schwarz]
;#############################################################################################
;# Here we set the rquired parameters for the Additive Schwarz.
;#############################################################################################

    ;#############
    ;# Do we have Additive Schwarz
    ;# Defualt: false
    ;# Options:   
    ;#############
    is_added = .false.
    
    ;#############
    ;# Number of iteration
    ;# Defualt: 1 
    ;# Options: adds_iter [1] 
    ;#############
    auxiliary_option = empty
    
    
  
